{
    "env": {
      "commonjs": true,
      "es6": true,
      "node": true
    },
    "extends": [
        "airbnb",
        "react-app",
        "plugin:prettier/recommended"
      ],
    "parserOptions": {
      "ecmaVersion": 2018
    },
    "rules": {
      "no-console": "error"
    }
  }
